@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #c9ced3;
}

.play-container {
    height: 500px;
    width: 400px;
    background-color: #e8e8e8;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.image-container {
    height: 300px;
    width: 300px;
    position: relative;
    top: -50px;
    left: 50px;
    border-radius: 25px;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.3);
}

.image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;

}

h2 {
    font-size: 25px;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin: 5px 0 0;
    font-weight: 400;
}

.progress-container {
    background: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px;
    height: 4px;
    width: 90%;
}

.progress {
    background: #242323;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;

}

.duration-warpper {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.fa-solid {
    font-size: 25px;
    color: rgb(129, 129, 129);
    margin-right: 15px;
    cursor: pointer;
    user-select: none;
    
}

.fa-solid:hover {
    filter: brightness(80%);
}

.fa-play {
    font-size: 40px;
    position: relative;
}

.fa-pause {
    font-size: 40px;
    position: relative;
}